name: Check PHP code style

on:
  push:
    paths:
      - '**.php'

jobs:
  php-code-styling:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check PHP code style
        uses: aglipanci/laravel-pint-action@2.6
        with:
          testMode: true
